<h3>Products Page</h3>
<hr>
<dynamic-input model="input.category.value" config="input.category.config" style="float: left;"></dynamic-input>
<dynamic-input model="input.subcategory.value" config="input.subcategory.config" style="float: left; margin-left: 10px;"></dynamic-input>
<dynamic-input model="input.minstock.value" config="input.minstock.config" style="float: left; margin-left: 10px;"></dynamic-input>
<div style="clear: both"></div>
<hr>
@* TODO: pass data to directive *@
<product-list></product-list>
