<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ProductKey</th>
            <th>Name</th>
            <th>StockLevel</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="producttablebody">
        @* TODO: List of products *@
    </tbody>
</table>
