<div class="hero-unit">
    <hgroup class="title">
        <h1>Orbus Dev Test</h1>
        <h2>Welcome to Orbus Developer Test</h2>
    </hgroup>
    <p>
        <a ng-href="#/product">Start Test</a>
    </p>
</div>