@model OrbusDevTest.Models.ErrorViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ErrorPage</title>
</head>
<body>
    <div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.ErrorMessage)
        </div>
    </div>
</body>
</html>
