@model IEnumerable<OrbusDevTest.DataAccess.Models.Product>

<h3>Products Page</h3>
<hr>
<div style="float: left">
    <label>Category</label>
    <select id="category">
        <option></option>
    </select>
</div>
<div style="float: left;margin-left: 10px">
    <label>Sub Category</label>
    <select id="subcategory">
        <option></option>
    </select>
</div>
<div style="float: left; margin-left: 10px">
    <label>Min Stock</label>
    <input id="minstock" type="number" value="500" step="100" />
</div>
<div style="clear: both"></div>
<hr>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="producttablebody">
        @foreach (var product in @Model)
        {
            @Html.Partial("Partial/ProductDetails", product)
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
              

            var apiurl = "http://localhost:37386/api/category";

            $.ajax({
                url: apiurl,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var appenddata1 = "";
                    for (var i = 0; i < data.length; i++) {
                        appenddata1 += "<option value = '" + data[i].Name + " '>" + data[i].Id + " </option>";
                    }
                    $("#category").append(appenddata1);
                }
            });

            $("#category").change(function () {
                var categoryId = $("#category").val();
                $.ajax({
                    url: apiurl + "/GetSubCategories/?categoryId=" + categoryId,
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var appenddata1 = "";
                        for (var i = 0; i < data.length; i++) {
                            appenddata1 += "<option value = '" + data[i].Name + " '>" + data[i].Id + " </option>";
                        }
                        $("#subcategory").append(appenddata1);
                    }
                });
            });

            $("#subcategory").change(function () {
                var subCategoryId = $("#subcategory").val();
                $.ajax({
                    url: apiurl + "http://localhost:37386/Product/GetProductListBySubCategory/?subCategoryId=" + subCategoryId,
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        var appenddata1 = "";
                        for (var i = 0; i < data.length; i++) {
                            appenddata1 += "<option value = '" + data[i].Name + " '>" + data[i].Id + " </option>";
                        }
                        $("#subcategory").append(appenddata1);
                    }
                });
            });

            $("#minstock").change(function () {
               
            });
           
        });
    </script>
}
