@{
    ViewBag.Title = "Orbus Dev Test";
}
<div class="hero-unit">
    <hgroup class="title">
        <h1>@ViewBag.Title</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>
    <p>
        @Html.ActionLink("Start Test","Index","Product")
    </p>
</div>